.text-red{
		color:red;
} 
.img-logo{
	    width: 15%;
		height: 50%;
}
.img-logo1{ 
	   width: 28%;
}
.img-logo_ap{ 
	   width: 30%;
}
.img-logo_ap1{ 
	   width: auto;
}
.img-logo_ap11{ 
	   width: 80%; 
}
.img-logo_ap12{ 
	   width: 90px; 
}
.img-logo_ap31{
    width: 85px;
    
}
.main-footer1{
		background: #fff;
		padding: 15px;
		color: #444;
		border-top: 1px solid #d2d6de;
}
.login-box-body h3{
		border-bottom:1px solid #000;
}
.body-class  header{
		background-color:turquoise !important;
		height:100px;
		border-bottom:1px solid #000;
}

.body-class header .content-header{
	position:initial !important;
	padding:5px 15px 0px 15px;
}
.cadetblue,.cadetblue:hover{
	background-color:cadetblue !important;
}
.antiquewhite:hover,.antiquewhite{
	background-color:antiquewhite !important;
}
.gold,.gold:hover{
		background-color:gold !important;
} 
.m-b-81{
		margin-top: -70px;
		margin-left: 95px;
}
.m-b-811{ 
		margin-left: 40px;
} 

.img-logo_ap23{
        width:85%;
}
.doughnut-legend li{
	list-style:none;
}
.green,.green:hover{
    background-color:green;color:#fff;
}
.red,.red:hover{
    background-color:rgba(255,0,0,0.65);color:#fff;
}
.tr_green{
background-color:green;color:#fff;
}
.tr_height{height:65px;}
.tr_brown{background-color:brown;color:#fff;}
.tr_25{
	width:25%;
}
.tr_75{
	width:75%;
}
@media screen and (max-width: 786px) { 
    .img-logo{
	    width:10%;
	}
}